/* Import Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/*Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Font-Face*/
@font-face {
    font-family: 'CustomFont';
    src: url('/path/to/CustomFont.woff2') format('woff2'),
         url('/path/to/CustomFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Global styles */
body, button, input, textarea {
  font-family: 'Noto Serif', serif;
}